.carousel {
    position: relative;
    width: 100%;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Masquer les débordements */
    margin-bottom: 20px;
  
    .carousel-image {
      width: 100%;
      height: 415px;
      object-fit: cover;
      border-radius: 10px;
    }
  
    .carousel-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      color: white;
      border: none;
      padding: 0;
      cursor: pointer;
      font-size: 4rem;
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
  
      &:hover {
        color: #f0f0f0; /* Légère différence au hover */
      }
    }
  
    .left {
      left: 10px;
    }
  
    .right {
      right: 10px;
    }
  }
  