.footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 40px 20px;
    font-size: 0.9rem;
  
    .footer-logo img {
      width: 100px;
      margin-bottom: 20px;
    }
  
    p {
      margin: 0;
      font-size: 0.9rem;
    }
  }
  